@import "./reset.scss"; // les resets
@import "./config.scss"; // les variables

#cart {
    display: none;
    border: 1px solid white;
    background-color: $slate;
  
    #cart__orderNumber {
      h2 {
        margin-left: 16px;
        font-size: 24px;
        font-weight: 700;
        color: $alice;
      }
  
      p {
        margin-left: 16px;
        font-size: 14px;
        font-weight: 600;
        color: $alice;
  
        #cart__orderDate {
          color: $emerald;
        }
      }
      
    }

    #cart__orderList{
      .cart-article {
  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2%;
        padding-bottom: 16px;
  
        .picture-div{
          width: 100%;
          border-radius: 100%;
        }
  
        h2{
          font-size: 16px;
          font-weight: 700;
          text-align: center;
          color: $alice;
        }
  
        h2.title_article{
          font-size: 20px;
          font-weight: 700;
          padding-bottom: 16px;
        }
  
  
      }
      
    }
    #cart__orderTotal {
      margin-left: 80px;
      font-size: 16px;
      font-weight: 500;
      color: $alice;
      margin-bottom: 5%;

      h2{
        font-size: 16px;
        padding-top: 16px;
  
      }
  
      #cart__orderTotalColor {
        color: $emerald;
      }
    }
    #cart__orderButton {
      position: relative;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
    }
    button {
      font-family: $nunito;
      font-size: 20px;
      border-radius: 10px;
      border: 0;
      background-color: $emerald;
      color: $slate;
      padding: 10px 60px;
      transition: background-color ease-in-out 300ms;
  
      &:hover {
        background-color: rgb(167 243 208);
        transition: background-color ease-in-out 300ms;
      }
    }
  }
  