@import "./reset.scss"; // les resets
@import "./config.scss"; // les variables
@import "./panier.scss"; //le panier

body {
  font-family: $nunito;
  background-color: $slate;
  position: relative;

  a:visited {
    color: $alice;
  }

  header {
    width: 95%;
    margin: auto;

    .upper-nav-btns {
      margin-top: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .switch-mode {
        display: flex;
        flex-direction: row;
        gap: 170px;
        align-items: center;
      }
    }

    #nav__desktopMenu {
      display: none;
    }

    .nav__mobileMenu {
      position: fixed;
      height: 25vh;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.397);
      z-index: 20;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 12% auto;
      opacity: 100%;
      backdrop-filter: blur(8px);
      display: flex;
      flex-direction: row;
      justify-content: center;

      #closeMenu {
        color: darkred;
        margin-top: 10%;

        &:hover {
          cursor: pointer;
        }
      }

      ul {
        height: 50%;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 25px;
        font-weight: 600;

        a:visited {
          color: $alice;
        }
      }
    }

    .hidden {
      display: none !important;
    }

    h1 {
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $alice;
    }
    .searchBar {
      display: flex;
      justify-content: space-between;
      width: 100%;

      // .searchBar--search {
      //   width: 60%;
      //   margin-bottom: 5px;
      // }
    }

    i {
      font-size: 25px;
    }

    .btnFilter--toggle {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: $lighterSlate;
      // border: 1px solid black;
      border-radius: 10px;
      box-shadow: $shadow;
      width: 90%;
      margin: auto;

      div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
      .btnFilter--cate {
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        background-color: $emerald;
        border: 0;
        padding: 16px 24px;
        color: $slate;
        transition: background-color ease-in-out 300ms;

        &:hover{
          background-color: rgb(167 243 208);
          transition: background-color ease-in-out 300ms;
        }
      }
    }
  }
  main {
    width: 85%;
    margin: auto;

    #home {
      .home__our-menu {
        h2 {
          text-align: center;
          font-size: 28px;
          color: $alice;
          padding-top: 20px;
        }
      }
    }

    article {
      border-radius: 20px;
      margin-bottom: 3%;
      margin-top: 5%;
      box-shadow: $shadow;
      background-color: rgb(51 65 85);

      .picture-div {
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 2%;
        position: relative;

        &:hover > .buy-btn-container {
          opacity: 100;
          transition: opacity ease-in-out 300ms,
            backdrop-filter ease-in-out 300ms;
          backdrop-filter: blur(3px);
        }

        .buy-btn-container {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          height: 100%;
          transition: opacity ease-in-out 300ms,
            backdrop-filter ease-in-out 300ms;
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            font-family: $nunito;
            font-size: 20px;
            padding: 5px 8px;
            border-radius: 10px;
            background-color: $emerald;
            color: $slate;
            border: 0;
            transition: background-color ease-in-out 300ms;

            &:hover {
              background-color: rgb(167 243 208);
              transition: background-color ease-in-out 300ms;
            }
          }
        }
      }

      .articles__data-container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-size: 24px;
          font-weight: 600;
          color: $alice;
        }

        &__price {
          font-size: 20px;
          font-weight: 500;
          color: $alice;
        }
        &__info-container {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-bottom: 5%;

          h4 {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            width: 25%;
            color: black;
            background-color: $alice;
            border-radius: 15px;
            padding: 5px 3px;
          }
        }
        &__ingredients-container {
          display: flex;
          flex-direction: row;
          place-self: end;
          justify-content: end;
          gap: 15px;

          &__ingredient {
            background-color: $emerald;
            border-radius: 10px;
            padding: 5px 3px;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    margin: auto;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 14px;
      background-color: black;

      a {
        color: $alice;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  header {
    .upper-nav-btns {
      justify-content: end !important;
      #nav--btnHamburger {
        display: none;
      }
    }
    .main__nav {
      ul {
        display: flex !important;
        flex-direction: row !important;
        font-size: 25px;
        justify-content: center;
        gap: 15px;
        font-weight: 600;
        margin-top: -2%;

        a:visited {
          color: $alice;
        }
      }
    }

    .nav__mobileMenu {
      display: none !important;
    }
  }

  main {
    position: relative;

    #home {
      &__menu {
        display: grid !important;
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
        gap: 10px;
      }
    }

    .cart__wrapper {
      position: absolute;
      right: -102px;
      top: -100px;
      z-index: 10;
      #cart {
        border-radius: 10px;
      }
    }
  }

  footer {
    width: 100%;
    margin: auto;

    ul {
      display: flex;
      flex-direction: row !important;
      justify-content: space-around !important;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 14px;
      background-color: white;

      a {
        color: $slate;
      }
    }
  }
}
