* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

#cart {
  border: 1px solid black;
  background-color: white;
}
#cart #cart__orderNumber h2 {
  margin-left: 16px;
  font-size: 24px;
  font-weight: 700;
  color: #254160;
}
#cart #cart__orderNumber p {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
}
#cart #cart__orderNumber p #cart__orderDate {
  color: #C1C603;
}
#cart #cart__orderTotal {
  margin-left: 80px;
  font-size: 16px;
  font-weight: 500;
  color: #254160;
  margin-bottom: 5%;
}
#cart #cart__orderTotal #cart__orderTotalColor {
  color: #C1C603;
}
#cart #cart__orderButton {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
#cart button {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #C1C603;
  color: aliceblue;
  padding: 10px 60px;
  transition: background-color ease-in-out 300ms;
}
#cart button:hover {
  background-color: #82860d;
  transition: background-color ease-in-out 300ms;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: aliceblue;
  position: relative;
}
body a:visited {
  color: #254160;
}
body header {
  width: 95%;
  margin: auto;
}
body header .upper-nav-btns {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body header #nav__desktopMenu {
  display: none;
}
body header .nav__mobileMenu {
  position: fixed;
  height: 25vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.397);
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 12% auto;
  opacity: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body header .nav__mobileMenu ul {
  height: 50%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
body header .nav__mobileMenu ul a:visited {
  color: #254160;
}
body header .hidden {
  display: none !important;
}
body header h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
body header .searchBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body header i {
  font-size: 25px;
}
body header .btnFilter--toggle {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #C1C603;
  border-radius: 10px 0 10px 10px;
}
body header .btnFilter--toggle div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body header .btnFilter--toggle .btnFilter--cate {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}
body main {
  width: 85%;
  margin: auto;
}
body main #home .home__our-menu h2 {
  text-align: center;
  font-size: 28px;
  color: #254160;
}
body main article {
  border-radius: 20px;
  margin-bottom: 3%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
body main article .picture-div {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 2%;
  position: relative;
}
body main article .picture-div:hover > .buy-btn-container {
  opacity: 100;
  transition: opacity ease-in-out 300ms, -webkit-backdrop-filter ease-in-out 300ms;
  transition: opacity ease-in-out 300ms, backdrop-filter ease-in-out 300ms;
  transition: opacity ease-in-out 300ms, backdrop-filter ease-in-out 300ms, -webkit-backdrop-filter ease-in-out 300ms;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
body main article .picture-div .buy-btn-container {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  transition: opacity ease-in-out 300ms, -webkit-backdrop-filter ease-in-out 300ms;
  transition: opacity ease-in-out 300ms, backdrop-filter ease-in-out 300ms;
  transition: opacity ease-in-out 300ms, backdrop-filter ease-in-out 300ms, -webkit-backdrop-filter ease-in-out 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main article .picture-div .buy-btn-container button {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding: 5px 8px;
  border-radius: 10px;
  background-color: #C1C603;
  color: aliceblue;
  border: 0;
  transition: background-color ease-in-out 300ms;
}
body main article .picture-div .buy-btn-container button:hover {
  background-color: #82860d;
  transition: background-color ease-in-out 300ms;
}
body main article .articles__data-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main article .articles__data-container h2 {
  font-size: 24px;
  font-weight: 600;
  color: #254160;
}
body main article .articles__data-container__price {
  font-size: 20px;
  font-weight: 500;
}
body main article .articles__data-container__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
body main article .articles__data-container__info-container h4 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 25%;
  color: aliceblue;
  background-color: #254160;
  border-radius: 15px;
  padding: 5px 3px;
}
body main article .articles__data-container__ingredients-container {
  display: flex;
  flex-direction: row;
  place-self: end;
  justify-content: end;
  gap: 15px;
}
body main article .articles__data-container__ingredients-container__ingredient {
  background-color: #C1C603;
  border-radius: 10px;
  padding: 5px 3px;
}
body footer {
  width: 100%;
  margin: auto;
}
body footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  background-color: black;
}
body footer ul a {
  color: aliceblue;
}

@media screen and (min-width: 1500px) {
  header .upper-nav-btns {
    justify-content: end !important;
  }
  header .upper-nav-btns #nav--btnHamburger {
    display: none;
  }
  header .main__nav ul {
    display: flex !important;
    flex-direction: row !important;
    font-size: 25px;
    justify-content: center;
    gap: 15px;
    font-weight: 600;
    margin-top: -2%;
  }
  header .main__nav ul a:visited {
    color: #254160;
  }
  header .nav__mobileMenu {
    display: none !important;
  }
  main {
    position: relative;
  }
  main #home__menu {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    gap: 10px;
  }
  main .cart__wrapper {
    position: absolute;
    right: -102px;
    top: -100px;
    z-index: 10;
  }
  main .cart__wrapper #cart {
    border-radius: 10px;
  }
  footer {
    width: 100%;
    margin: auto;
  }
  footer ul {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    background-color: black;
  }
  footer ul a {
    color: aliceblue;
  }
}/*# sourceMappingURL=main.css.map */